* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(45deg, rgba(94, 255, 0, 0.637), rgba(114,110,11,0.5), rgba(212, 12, 56, 0.25));
  font-family: sans-serif;
}

#main {
  width: 55vw;
  margin: 10px auto;
  text-align: center;    
}

#meme {
  width: 55vw;
  position: relative;
  background: rgba(219,217,217); 
  min-height: 400px;
}

#meme img {
  width: 100%;
  height: auto; /* wichtig für Textposition */
  display: block;
}

.meme-text {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  font-family: Impact, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-text-stroke: 2px black;
  pointer-events: none;
  z-index: 10; /* Text über Bild */
}

#text-top { top: 10px; }
#text-bottom { bottom: 10px; }

#hint {
  text-transform: capitalize;
  font-family: sans-serif;
  color: gray;
  position: relative;
  top: 40%;
  font-style: italic; 
}

textarea {
  width: 55vw;
  resize: vertical; 
  font-size: 30px;
  overflow: hidden;
  min-height: 60px;
  text-align: center;
  outline: none;
  margin-bottom: -5px;
  padding: 5px 0;
}

#upper {
  background: indigo;
  color: white;
}

#lower {
  background: rgb(174, 224, 36); 
  color: black;
}

.access {
  margin-top: 40px;  
  text-align: center; 
}

#input {
  display: none; 
}

label.btn, .btn {
  background: rgb(2, 5, 184);
  color: rgb(209, 209, 182);
  border: none;
  padding: 10px 15px;
  margin: 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}

a {
  display: inline-block;
}

@media screen and (max-width: 800px) {
  #main, img, textarea, #meme {
    width: 90vw; 
  }
}
